CMakeLists.txt.user

Examples/DataSets
Examples/MultiAgent/stereo_kitti_twoagent
Examples/MultiAgent/generic_split_seq
Examples/MultiAgent/euroc_two_seq
Examples/Monocular/mono_euroc
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/RGB-D/rgbd_tum
Examples/ROS/ORB_SLAM2/CMakeLists.txt.user
Examples/ROS/ORB_SLAM2/Mono
Examples/ROS/ORB_SLAM2/MonoAR
Examples/ROS/ORB_SLAM2/RGBD
Examples/ROS/ORB_SLAM2/Stereo
Examples/ROS/ORB_SLAM2/build/
Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti

# traj and stats outputs
/KFT_SLAM*
/SLAM*
/stats.csv
KeyFrameTrajectory.txt
CameraTrajectory.txt
CameraTrajectory1.txt
CameraTrajectory2.txt

# python virtual env
pyenv

# latex stuff
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz


Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/

Vocabulary/ORBvoc.txt

build/
*~
lib/
.vscode/
